<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>

</head>
<body class="container">

	<header>
		<%- include('../partials/header'); %>

	</header>

	<main>
		<div class="jumbotron">
			<h1>hey, i am sapan! </h1>
			<p>i am lerning ejs ,express in bootcamp</p>
		</div>
	</main>

	<footer>
		<%- include('../partials/footer'); %>

	</footer>
	</body>
</html>	